@tailwind base;
@tailwind components;
@tailwind utilities;

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.button-effect-1:hover::after {
  transform: translate(0, 0);
}

.button-effect-1:hover {
  color: white;
  background-color: black;
}
